/* /// Style guide ----

Fonts:

Main Font: Ubuntu Light
Slogan Font: Gaoel

Colors:

White (Main Font)

Hex: #fff
RGB: rgb(255, 255, 255)

White (Slogan Font)

Hex: #fff
RGB: rgb(255, 255, 255)

White (Container)

Hex: #fff
RGB: rgb(255, 255, 255)

Matisse (Background)

Hex: #13669a
RGB: rgb(19, 102, 154)



///---------------- */